#counter{
float:right;
font-weight:bold;
color:#aaa;
margin:1em 1.4em 0 0;
font-size:18px;
}
#isi{
max-height:2.5em;
}
#infouser{
padding:10px;
}
#infouser a{
color:black;
}
#infouser a:hover{
color:#2276BB;
}
#infouser p{
font-size:13px;
padding:5px 0 0;
font-weight:bold;
}
#nama{
font-weight:bold;
display:block;
}
#sjmltweet{
font-size:smaller;
}
.desc,.status{
display:block;
color:#444;
font-size:smaller;
} 
.desc{
color:#222;
font-size:0.9em;
}
.gambar{
float:right;
margin:20px 20px;
border:5px solid #f8f8f8;
box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
